<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/static/favicon.png">
        <link href="{% static 'css/welcome.css' %}" rel="stylesheet" type="text/css">
        <title>Omnichatterator</title>
        
    </head>
    <body>
        <div class="big-container">

            <div class="sep-container"> </div>

            <div class="intro-container">
                <div class="sep3-container"> </div>
                <div class="intro-left">
                    <img class="" style="width:100%" src="{% static 'images/photo2.png' %}" alt="Omnichatterator"/>
                    <h2 class="small">Všetká komunikácia <br>na jednom mieste</h2>
                    <p class="beginning-text">
                        Komunikujte so zákazníkmi efektívne. Omnichatterator spája všetky vaše sociálne kanály, aby ste mohli pohodlne menežovať správy a emaily.
                    </p>
                    <div>
                        <a class="try-link" href="/login">Vyskúšať</a>
                    </div>
                </div>
                <div class="sep3-container"> </div>
                <div class="intro-right">
                    <img style="width:200%;padding-left: 5em;" src="{% static 'images/photo1.png' %}" alt="UI Screnshot"/>
                </div>



                <div class="sep3-container"> </div>
            </div>
            <div class="sep-container"> </div>
            <div class="main-container">
                <div class="sepo-container"> </div>
                    <div class="chat-container">
                        <div class="hisouter">
                            <div class="hismsg"> Prečo používať Omnichatterator?</div>
                        </div>

                        <div class="myouter">
                            <div class="mymsg">
                                Omnichatterator predsatuje akýsi prototyp ideálnej komunikácie na internete. Pokúša sa
                                spojiť komunikáciu z viecerých platforiem dohromady na jedno miesto. OC momentálne ponúka spojenie 3 platforiem.
                                Používateľ sa môže prihlásiť naraz pomocou Twitteru, Facebooku či Gmailu. Po prihlásení vidí svoje konverzácie a
                                môže na ne odpovedať. Prihlásanie sprostredkuje daná platforma, cez ktorú sa užívateľ prihlasuje.
                            </div>
                        </div>

                        <div class="hisouter">
                            <div class="hismsg">Je zadarmo?</div>
                        </div>

                        <div class="myouter">
                            <div class="mymsg">
                                Omnichatterator je úplne zadarmo. Je výsledkom práce študentov z TUKE.
                                Projekt vznikol v rámci školskej praxe pre firmu NXT Soft s.r.o..
                            </div>
                        </div>

                        <div class="hisouter">
                            <div class="hismsg">Je Omnichatterator bez reklám?</div>
                        </div>

                        <div class="myouter">
                            <div class="mymsg">
                                Áno. Aplikácia je úplne bez reklám. Omni sme dizajnovali so zreteľom na pohodlie a efektívnosť.
                                Reklamný smog pri budovaní vášho startupu nemá miesto!
                            </div>
                        </div>

                        <div class="hisouter">
                            <div class="hismsg">Môžem si túto aplikáciu vyskúšať?</div>
                        </div>

                        <div class="myouter">
                            <div class="mymsg">
                                Zatiaľ nie haha. Aplikácia pravdepodobne narušuje viacero pravidiel používania platforiem
                                a preto je prenasledovaná zlými tech CEOs. 
                                Z tohto dôvodu Omni zatiaľ nie je dostupný širokej verejnosti.
                            </div>
                        </div>


                    </div>
                <div class="sepo-container"> </div>
            </div>
            <div class="sep-container"> </div>
            <div class="foot-container">
                <div id="fot">© 2022–2023 Omnichatterator<br>
                    Mali sme miešať farby
                </div>
            </div>
        </div>

    </body>

</html>


<!--
<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/static/favicon.png">
        <link href="{% static 'css/welcome.css' %}" rel="stylesheet" type="text/css">
        <title>Omnichatterator</title>

    </head>
    <body>
        <div class="big-container">

            <div class="sep-container"> </div>

            <div class="intro-container">
                <div class="sep3-container"> </div>
                <div class="intro-left">
                    <h2 class="small">Všetká komunikácia <br>na jednom mieste</h2>
                    <p>
                        Spojte sa s ľuďmi pomocou jedinej aplikácie. Omnichatterator spája komunikáciu z viacerých platforiem a poskytuje rýchle a komfortné vymieňanie správ či emailov.
                    </p>
                    <div>
                        <a class="try-link" href="/login">Vyskúšať</a>
                    </div>
                </div>
                <div class="sep3-container"> </div>
                <div class="intro-right">
                    <img class="omnichatterator-logo" src="{% static 'images/logo2.svg' %}" alt="Omnichatterator"/>
                    <h1 id="big">Omnichatterator</h1>
                </div>



                <div class="sep3-container"> </div>
            </div>
            <div class="sep-container"> </div>
            <div class="main-container">

                <div class="point-container">
                    <div class="sep15"> </div>
                    <div class="hisouter">
                        <div class="hismsg"> Prečo používať Omnichatterator?</div>
                        <div class="mymsg">
                            Omnichatterator predsatuje akýsi prototyp ideálnej komunikácie na internete. Pokúša sa
                            spojiť komunikáciu z viecerých platforiem dohromady na jedno miesto. OC momentálne ponúka spojenie 3 platforiem.
                            Používateľ sa môže prihlásiť naraz pomocou Twitteru, Facebooku či Gmailu. Po prihlásaní vidí svoje konverzácie a
                            môže na ne odpovedať. Prihlásanie sprostredkuje daná platforma, cez ktorú sa užívateľ prihlasuje.
                        </div>
                    </div>
                    <div class="sep20"> </div>
                    <div class="sep15"> </div>
                </div>
                <div class="sep-container"> </div>
                <div class="point-container2">
                    <div class="sep15"> </div>
                    <div class="sep20"> </div>
                    <div class="myouter">
                        <div class="hismsg">Je zadarmo?</div>
                        <div class="mymsg">
                            Bohužiaľ áno. Tvorcovia projektu - študenti TUKE, neobdržia žiadnú finančnú odmenu
                            za vykonanú prácu. Odmenu predstavujú skúsenosti a udelenie zápočtu z predmetu. Na druhej
                            strane sa ale otencionálni užívatelia môžu radovať.
                        </div>
                    </div>
                    <div class="sep15"> </div>
                </div>
                <div class="sep-container"> </div>
                <div class="point-container">
                    <div class="sep15"> </div>
                    <div class="hisouter">
                        <div class="hismsg">Je Omnichatterator bez reklám?</div>
                        <div class="mymsg">
                            Áno. Aplikácia je úplne bez reklám. Dizajn aplikácie nie je poškvrnený žiadnou reklamou.
                            Študenti by z neh aj tak nič nemali, žiadne groše.
                        </div>
                    </div>
                    <div class="sep20"> </div>
                    <div class="sep15"> </div>
                </div>
                <div class="sep-container"> </div>
                <div class="point-container2">
                    <div class="sep15"> </div>
                    <div class="sep20"> </div>
                    <div class="myouter">
                        <div class="hismsg">Môžem si túto aplikáciu vyskúšať?</div>
                        <div class="mymsg">
                            Zatiaľ nie haha. Pre prístup k aplikácií je potrebná náročná technická gymnastika.
                            A preto, že toto je aplikácia z bájnych čias, kedy boli boháči malicherní a krutí a zoslali na
                            obyčajnch ľudí osud utrpenia, nie je možné túto apku publishnuť bez problémov.
                        </div>
                    </div>
                    <div class="sep15"> </div>
                </div>

            </div>
            <div class="sep-container"> </div>
            <div class="foot-container">
                <div id="fot">© 2022–2023 Omnichatterator<br>
                    Vytvorili neúspešní miešači farbieb z TUKE
                </div>
            </div>
        </div>

    </body>

</html>
-->